{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Signup {% endblock%}

{% block body_block %}

<div class="container">
     <div class="sign-page">
          <center>
               <div class="sign-up">
                    <h3>Create New Account</h3>
                    <form method='POST'>
                         {{form | crispy}}
                         {% csrf_token%}
                         <button type="submit" class="btn btn-success btn-sm">Signup</button>
                    </form>
                    <p>Already have an account <a href="{% url 'Account_App:signin'%}">Signin</a></p>
               </div>
          </center>
     </div>
</div>

{% endblock%}